@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    max-width: 1280px;
    @apply px-5 lg:px-10;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --primary: #e76f51;
}

body {
  background: #f9fafb;
}

.benefit-icon {
  width: 198px;
  height: 181px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
